# You can use this file for development on this script.

# Use this to not open any editor on creation.
# This is useful if you want to quickly create a lot of test directories.
# GETTEST_EDITOR=:

GETTEST_EDITOR=zed

GETTEST_DIR=data
