# You can use this file for development on this script.
# Just copy and rename it to dev.env.

# Use this to not open any editor on creation.
# This is useful if you want to quickly create a lot of test directories.
# GETTEST_EDITOR=:
# GETTEST_EDITOR=/usr/bin/vim

# With this, you can enable "debug mode", which prints all executed commands.
# DEBUG=1

# Use this to set the gettest directory (where templates and projects are stored)
# to a separate directory, so that you don't mess up your actual gettest directory.
# GETTEST_DIR=$HOME/.local/gettest-dev
